* {
  box-sizing: border-box;
}

body {
  background-color: #0e3f0e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1,
.fa-fw {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 30px;
}

hr {
  width: 200px;
  margin: 20px 0;
  opacity: 0.6;
}

img {
  max-width: 100%;
  height: auto;
}

header.main {
  background-color: rgb(0 95 0 / 80%);
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.active,
.button:hover {
  color: #000;
  background-color: #ccc;
}

.hidden-text {
  display: none;
}

.navbar .fa,
.logo {
  display: none;
}

.conteiner {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.half {
  display: flex;
  flex-direction: column;
}

.half img {
  margin-bottom: 10px;
}

hr.separate {
  width: 95%;
  margin: auto;
  margin-bottom: 8rem;
}

.contact .fa {
  margin-right: 16px;
}

.date {
  margin-top: 4rem;
}

.footer {
  text-align: center;
  padding: 20px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #757575;
}

.footer hr {
  width: 100%;
  margin: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 2.4rem;
}

.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}